:root {
    --fuente: 'Montserrat', sans-serif;
    --fina: 200;
    --normal: 400;
    --bold: 600;
    --blanco: #dfecf5
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10 px */
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
 /*  background: black;*/
  font-family: var(--fuente);
  font-size: 1.6rem;
} 
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}
.texto-arriba, .texto-abajo{
  display: block;
  position: static;
}

nav.abajo {
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h1 {
    font-family: var(--fuente);
    font-weight: 600;
    text-align: center;
    font-size: 5rem;
    margin: 0;
    transition: font-size .8s ease, width .5s, height .5s;
    transition: color .3s ease;
    
}
h1:hover {
    color: #E1AF4C;
    cursor: pointer;
}

.grid-icon{
  padding-top: 10rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  flex-direction: column;
  align-items: center;
}
.icono {
  flex-direction: column;
  width: 10rem;
  filter: invert(100%)
}
.rotar{
  width: 12rem;
  transform: rotate(360deg);
  transition: all 1.3s;
}
.volver{
  width: 10rem;
  transform: rotate(-360deg);
  transition: all .8s ease;
}
a {
  font-family: var(--fuente) ;
  font-size: 5rem;
  text-decoration: none;
  color: var(--blanco);
  transition: color .8s ease;
}
.color-letra {
  color: #E1AF4C;
}
body {
  margin:0;
}
.contenedor{
height: 930px;
}
.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:var(--blanco);
}

.inner-header {
  height:60rem;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { 
    padding-top: 35rem;
    padding-bottom: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10rem;
}

.grid-doble {
display: grid;
grid-template-columns: repeat(2, 1fr);
align-items: center;
padding-left: 15rem;
padding-right: 15rem;
}
.centrar{
  grid-column: 1/3;
}
h2 {
  text-align: center;
  font-family: var(--fuente);
  font-size: 4rem;
}
.informacion {
  text-align: center;
  font-family: var(--fuente);
  font-size: 3rem;
  grid-column: 1/3;
}
.imagen-captura {
  height: 60rem;
}
.grid-multiple {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  margin-left: 6rem;
}
.titulo-busqueda{
  grid-column: 1/6;
}
.imagen-google {
  display: block;
  margin: 0px auto;
  grid-column: 2/5; 
  cursor: pointer;
}
.titulo-busqueda2{
  grid-column: 1/6;
}
.imagenes-web {
  max-height: 20rem;
  border-radius: 100%;
  cursor: pointer;
  
}
.prime {
  height: 15rem;
}
.border{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
}
.gradient-border {
  --border-width: 3px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  font-family: Lato, sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  background: white;
  border-radius: 3rem;
}
.gradient-border::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * 3rem);
    animation: moveGradient 4s alternate infinite;
  }


@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
/* INICIAR SESION */
.grid-triple{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  
}
.titulo-inicio{
  padding-top: 10rem;
  grid-column: 1/4;
}
.boton {
display: block;
margin: 0px auto;
width: 5rem;
height: 5rem;
}
.formulario {
  display: block;
  margin: 0px auto;
  grid-column: 2/3;
}
.grid-triple .informacion{
  grid-column: 1/4;
  padding-left: 15rem;
  padding-right: 15rem;
}
.formulario {
  background-color: #fff;
  margin: -5rem auto 0 auto;
  width: 95%;
  padding: 5rem;
}
.campo {
  margin-bottom: 2rem;
}
.campo__label {
  flex: 0 0 9rem;
  text-align: right;
  padding-right: 2rem;
}
.campo__field {
  flex: 1;
  border: 1px solid #5e5e5e;
}








.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  /* filter: invert(100%) PARA EL DARKMODE */
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
}